<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCC de Colores - Inicio y Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <nav class="barra">
        <div class="barra-logo">
            <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Logo MCC">
        </div>
        <div class="barra-menu">
            <a href="#">Inicio</a>
            <a href="https://www.facebook.com/103479795820388/" target="_blank">Servicios</a>
            <a href="#login" class="nav-login-link">Iniciar Sesión</a>
        </div>
    </nav>

    <main class="main-container">
        <section class="left-side">
            <h1>Un encuentro con Cristo que transforma la vida</h1>
            <p>
                El Movimiento de Cursillos de Cristiandad acompaña a las personas
                en su camino de fe, fortaleciendo la amistad y el compromiso cristiano.
            </p>
            <img src="{{ url_for('static', filename='amigo.jpg') }}" alt="Amistad cristiana" class="img-faith">
        </section>

        <section class="right-side">
            <div class="login-content">
                <h2 class="welcome-text">Bienvenido</h2>
                
                <img src="{{ url_for('static', filename='welcome.jpg') }}" alt="Welcome" class="img-welcome">
                
                <form method="POST" class="form-login">
                    <label class="form-label-custom">Ingresar Usuario</label>
                    <input type="text" name="username" class="form-control" placeholder="Ej: MartinSopa234" required>
                    
                    <label class="form-label-custom">Ingresar Contraseña</label>
                    <input type="password" name="password" class="form-control" placeholder="••••••••" required>
                    
                    <button type="submit" class="btn-primary">Entrar</button>
                </form>
            </div>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>